<h2>
  <ul>
    <li><a routerLink="/password"> Go to pass word</a></li>
    <li><a routerLink="/panel-content">Go to panel content</a></li>
    <li><a routerLink="/zippy-content">Go to panel zippy</a></li>
  </ul>
</h2>
<router-outlet></router-outlet>

<h1>Lock icon</h1>
<app-testing></app-testing>
<br>
<app-com-api [arrowDirection] = "post.arrowD" (change) = 'change($event)'></app-com-api>

<app-favorite></app-favorite>
<!-- <span class="glyphicon glyphicon-star"></span> -->

<!-- <input type="text" [(ngModel)]="title">
<br>
<h2>{{ title }}</h2> -->



<app-like></app-like>
<br><br><br><br><br><br><br><br><br><br>

<app-todo-list></app-todo-list>

<br><br><br><br><br><br><br><br><br><br>




<br><br><br><br><br><br><br><br><br><br>

<app-contact-form></app-contact-form>

<br><br><br><br><br><br><br><br><br><br>

<app-course-form></app-course-form>

<br><br><br><br><br><br><br><br><br><br>


<br><br><br><br><br><br><br><br><br><br>
