<h3>
  <ul>
    <li><a routerLink="/todo-list">To do list</a></li>
    <li><a routerLink="/password">Change password</a></li>
    <li><a routerLink="/panel-content">Static panel</a></li>
    <li><a routerLink="/zippy-content">Zippy panel</a></li>
    <li><a routerLink="/contact-form">Contact form</a></li>
    <li><a routerLink="/icons">Others</a></li>
  </ul>
</h3>
<router-outlet></router-outlet>

<!-- <app-com-api [arrowDirection] = "post.arrowD" (change) = 'change($event)'></app-com-api> -->


<!-- <app-course-form></app-course-form> -->
