<form>
  <div>
    <label for="oldPassword" class="passWordFont">Old Password</label>
    <input
      required
      ngModel
      name=oldPassword
      #oldPassword="ngModel"
      type="password"
      id="oldPassword"
      class="form-control">
    <div
      *ngIf="oldPassword.touched && oldPassword.invalid"
      class="alert alert-danger"> Old password is Required
    </div>
  </div>
  <br>

  <div>
    <label for="newPassword" class="passWordFont">New Password</label>
    <input
    required
    type="password"
    ngModel
    name="newPassword"
    #newPassword="ngModel"
    id="newPassword"
    class="form-control">

    <div
      *ngIf="newPassword.touched && newPassword.invalid"
      class="alert alert-danger"> New Password is Required
    </div>
  </div>
  <br>


<div>
  <label for="checkPassword" class="passWordFont"> Check Password </label>
  <input
    required
    type="password"
    ngModel
    name="checkPassword"
    #checkPassword="ngModel"
    id="checkPassword"
    class="form-control">
  <div
    *ngIf="checkPassword.touched && checkPassword.invalid"
    class="alert alert-danger"> Check Password is Required
  </div>
  <div
  *ngIf="checkPassword.touched && (checkPassword.value !== newPassword.value)"
  class="alert alert-danger"> Check Password is not matched
</div>
<br>
  <button class="btn btn-primary"> Change password </button>
</div>
</form>
